services:
  web:
    build: .
    restart: always
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - ./.env
    volumes:
      - static_volume:/code/staticfiles
      - media_volume:/code/mediafiles
    depends_on:
      - redis
      - db
  db:
    image: {{ buyback_postgres_image }}
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env

  redis:
    image: {{ buyback_redis_image }}

  celery:
    build: .
    restart: always
    command: celery -A config worker -l info
    volumes:
      - .:/code
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
      - web

  nginx:
    build: ./nginx
    restart: always
    volumes:
      - static_volume:/code/staticfiles
      - media_volume:/code/mediafiles
    depends_on:
      - web
    labels:
      virtual.host: {{ buyback_domain }} # your domain
      virtual.alias: www.{{ buyback_domain }} # alias for your domain (optional)
      virtual.port: 80 # exposed port of this container
      virtual.tls-email: {{ buyback_tls_email | default('') }} # ssl is now on
      virtual.proxy.directives: |
        header_up Host {host}

volumes:
  postgres_data:
  static_volume:
  media_volume:
