services:
  app:
    image: {{ buyback_image }}
    restart: always
    env_file:
      - ./.env
    labels:
      - traefik.enable=true
      - traefik.http.routers.buyback.rule=Host(`{{ buyback_domain }}`)
      - traefik.http.middlewares.buyback-redirectregex.redirectregex.regex=^https://{{ buyback_domain }}/$
      - traefik.http.middlewares.buyback-redirectregex.redirectregex.replacement=https://{{ buyback_domain }}/buyback/
      - traefik.http.middlewares.buyback-redirectregex.redirectregex.permanent=true
      - traefik.http.routers.buyback.middlewares=buyback-redirectregex@docker
      - traefik.http.services.buyback.loadbalancer.server.port=8000
    networks:
      - traefik_ingress
      - default
    depends_on:
      - db
  db:
    image: {{ buyback_postgres_image }}
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env

{% if buyback_backup_enabled %}
  backup:
    image: {{ buyback_backup_image }}
    restart: always
    env_file:
      - ./.env
{% endif %}

networks:
  traefik_ingress:
    external: true

volumes:
  postgres_data:
