services:
  web:
    image: {{ buyback_image }}
    restart: always
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - ./.env
    labels:
      - traefik.enable=true
      - traefik.http.routers.buyback.rule=Host(`{{ buyback_domain }}`)
      - traefik.http.middlewares.buyback-redirectregex.redirectregex.regex=^https://{{ buyback_domain }}/$
      - traefik.http.middlewares.buyback-redirectregex.redirectregex.replacement=https://{{ buyback_domain }}/buyback/
      - traefik.http.middlewares.buyback-redirectregex.redirectregex.permanent=true
      - traefik.http.routers.buyback.middlewares=buyback-redirectregex@docker
      - traefik.http.routers.buyback.port=8000
    volumes:
      - static_volume:/code/staticfiles
      - media_volume:/code/mediafiles
    networks:
      - default
      - traefik_ingress
    depends_on:
      - redis
      - db
  db:
    image: {{ buyback_postgres_image }}
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env

  redis:
    image: {{ buyback_redis_image }}

  celery:
    image: {{ buyback_image }}
    restart: always
    command: celery -A config worker -l info
    volumes:
      - .:/code
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
      - web
  {%- if buyback_backup_enabled %}
  backup:
    image: {{ buyback_backup_image }}
    restart: always
    env_file:
      - ./.env
  {%- endif %}

networks:
  traefik_ingress:
    external: true

volumes:
  postgres_data:
  static_volume:
  media_volume:
