---
- name: Make sure that current user has docker group
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: true

- name: Make sure that traefik_ingress network exists
  community.docker.docker_network:
    name: traefik_ingress
    state: present

- name: Create buyback directory
  ansible.builtin.file:
    path: "{{ buyback_dir }}"
    state: directory
    mode: "0755"

- name: Copy .env file
  ansible.builtin.template:
    src: ".env.j2"
    dest: "{{ buyback_dir }}/.env"
    mode: "0644"
  notify:
    - Restart Buyback App
    - Restart Buyback Celery

- name: Copy docker-compose.yml file
  ansible.builtin.template:
    src: "docker-compose.yml.j2"
    dest: "{{ buyback_dir }}/docker-compose.yml"
    mode: "0644"
    force: true

- name: Run docker compose up
  community.docker.docker_compose_v2:
    project_src: "{{ buyback_dir }}"
    project_name: "buyback"
    files:
      - docker-compose.yml
    pull: always
    state: present

- name: Check if containers are running
  community.docker.docker_compose_v2:
    project_src: "{{ buyback_dir }}"
    project_name: "buyback"
    files:
      - docker-compose.yml
    state: present
  register: compose_status

- name: Verify container status
  ansible.builtin.assert:
    that:
      - "compose_status is success"
    fail_msg: "Docker compose services are not running properly"
    success_msg: "All docker compose services are running successfully"
