services:
  caddy-gen:
    container_name: caddy-gen
    image: "wemakeservices/caddy-gen:latest"
    restart: always
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - caddy-certificates:/data/caddy
    ports:
      - "80:80"
      - "443:443"
    networks:
      default:
      buyback_default:
      wanderer_default:

networks:
  buyback_default:
    external: true
  wanderer_default:
    external: true

volumes:
  caddy-certificates:
    driver: local
