services:
  eve-route-builder:
    image: {{ wanderer_eve_route_builder_image }}
    container_name: eve-route-builder
    restart: always
    environment:
      - PORT=2001

  wanderer_db:
    image: {{ wanderer_postgres_image }}
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/postgresql/data
    env_file:
      - .env
  
  # Disabled until this is solved https://discord.com/channels/1260272573371908128/1420991912671838260/1420991912671838260
  # wanderer-kills:
  #   image: {{ wanderer_kills_image }}
  #   container_name: wanderer-kills
  #   environment:
  #     PORT: 4004
  #     MIX_ENV: prod
  #   restart: unless-stopped

  wanderer:
    image: {{ wanderer_image }}
    restart: always
    command: sh -c "sleep 10 && /app/entrypoint.sh db createdb && /app/entrypoint.sh db migrate && /app/entrypoint.sh run"
    depends_on:
      - eve-route-builder
      - wanderer_db
    expose:
      - 8000
    networks:
      - default
      - traefik_ingress
    healthcheck:
      disable: true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    environment:
      - CUSTOM_ROUTE_BASE_URL=http://eve-route-builder:2001
      - PHX_SERVER=true
      - ECTO_IPV6=false
      # - WANDERER_KILLS_SERVICE_ENABLED=true
      # - WANDERER_KILLS_BASE_URL=ws://wanderer-kills:4004
      - ERL_AFLAGS=-proto_dist inet6_tcp
      - ERL_MAX_PORTS=1024
    env_file:
      - wanderer-conf.env
    labels:
      - traefik.enable=true
      - traefik.http.routers.wanderer.rule=Host(`{{ wanderer_domain }}`)

  backup:
    image: {{ wanderer_backup_image }}
    restart: always
    env_file:
      - .env
volumes:
  db-data:
    driver: local

networks:
  traefik_ingress:
    external: true
