# Required configuration
WEB_APP_URL={{ wanderer_web_app_url }}
SECRET_KEY_BASE={{ wanderer_secret_key_base }}
CLOAK_KEY={{ wanderer_cloak_key }}
EVE_CLIENT_ID={{ wanderer_eve_client_id }}
EVE_CLIENT_SECRET={{ wanderer_eve_client_secret }}

# Core Configuration
PORT=8000                      # Web server port

# Database Configuration
DATABASE_URL=postgres://postgres:{{ wanderer_db_password }}@wanderer_db:5432/wanderer_db  # PostgreSQL connection URL
# ECTO_IPV6=true                 # Enable IPv6 for database connections

# Registration
# WANDERER_INVITES=false         # Enable invite-only registration

# Feature Toggles
# WANDERER_PUBLIC_API_DISABLED=false    # Disable public API
# WANDERER_CHARACTER_API_DISABLED=true  # Disable character API
# WANDERER_ZKILL_PRELOAD_DISABLED=false # Disable zKillboard preloading

# Administration
# WANDERER_ADMIN_USERNAME=admin  # Admin username
# WANDERER_ADMIN_PASSWORD=       # Admin password
# WANDERER_RESTRICT_MAPS_CREATION=false # Restrict map creation to admins

# Map Configuration
# WANDERER_MAP_CONNECTION_AUTO_EXPIRE_HOURS=24    # Hours until connections auto-expire
# WANDERER_MAP_CONNECTION_AUTO_EOL_HOURS=21       # Hours until connections reach EOL
# WANDERER_MAP_CONNECTION_EOL_EXPIRE_TIMEOUT_MINS=60 # Minutes until EOL connections expire
