services:
  nginx:
    image: {{ landing_image }}
    restart: always
    networks:
      - traefik_ingress
    labels:
      - traefik.enable=true
      - traefik.http.routers.landing.rule=Host(`{{ domain_name }}`)

# Needed for the reverse proxy (traefik) to work
networks:
  traefik_ingress:
    external: true
