services:
  nginx:
    image: {{ landing_image }}
    volumes:
      - ./html/:/usr/share/nginx/html
    restart: always
    networks:
      - traefik_ingress
    labels:
      - traefik.enable=true
      - traefik.http.routers.landing.rule=Host(`{{ landing_domain }}`)

# Needed for the reverse proxy (traefik) to work
networks:
  traefik_ingress:
    external: true
