---
- name: Update apt cache
  ansible.legacy.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Upgrade all packages
  ansible.legacy.apt:
    upgrade: full

- name: Install common packages
  ansible.legacy.apt:
    name:
      - vim
      - curl
      - wget
      - git
      - htop
      - net-tools
    state: present

- name: Configure timezone
  community.general.timezone:
    name: Etc/UTC
