{
  "provider": "DigitalOcean",
  "login_token": "{{ traefik_godns_digitalocean_api_token }}",
  "domains": [
    {
      "domain_name": "{{ domain_name }}",
      "sub_domains": {{ sub_domains | to_json }}
    }
  ],
  "resolver": "8.8.8.8",
  "ip_urls": [
    "https://api.ipify.org",
    "https://myip.biturl.top",
    "https://api-ipv4.ip.sb/ip"
  ],
  "ip_type": "IPv4",
  "interval": 300
}
