entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entrypoint:
          scheme: https
          to: websecure
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt
{% if sub_domains[0] == "dev" %}
        domains:
          - main: {{ landing_domain }}
            sans:
              - "{{ buyback_domain }}"
{% else %}
        domains:
          - main: {{ domain_name }}
            sans:
              - "{{ buyback_domain }}"
              - "{{ wanderer_domain }}"
{% endif %}

api:
  insecure: true
  dashboard: true
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    network: traefik_ingress
    exposedByDefault: false
certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ traefik_email }}
      storage: /etc/traefik/acme.json
      httpChallenge:
        entryPoint: web
